## editors
.idea
.vscode

## system files
.DS_Store

## npm
node_modules/
npm-debug.log

## testing
coverage/

## temp folders
.tmp/

# build
_site/
dist/
out-tsc/
development/
.rollup.cache
tsconfig.tsbuildinfo

/components/*
/types/*
/ButtressDataService.*
/ButtressDbService.*
/ButtressRealtime.*
/ButtressSchema.*
/ButtressSchemaFactory.*
/ButtressStore.*
/helpers.*
/index.*

storybook-static
custom-elements.json

test-app-token.json


